
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navigation menu start */
.nav_main_container {
    width: 82%;
    margin: 2% auto;
}
.nav_wrap_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    background-color: #ffffff;
    overflow: hidden;
}
.glory {
    font-weight: 800;
    font-size: 30px;
    line-height: normal;
    font-family: 'Mulish', sans-serif;
}
.travl {
    font-weight: 800;
    font-size: 30px;
    line-height: normal;
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #424247;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.menu_icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}
#menu_toggle {
    display: none;
}
/*navigation menu end */
/*explore your travel section start */
.bg_one {
    width: 100%;
    height: 467px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/group13.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.for_travel_bg_wrap {
    width: 82%;
    margin: auto;
}
.bg_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exlore_text p {
    text-align: center;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.travel_first_text {
    margin-top: 3%;
}
.travel_first_text p {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.where_go_button_container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
}

.search_button button {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space:no-wrap;
    padding: 1.5px 30px;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search_box,
.select_box {
    display: flex;
    align-items: center;
}

.search_box input,
.select_box select,
.search_box button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select_box select {
    background-color: #FFF;
}
.search_box button {
    border-radius: 5px;
    background: #FF5400;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

/*explore your travel section end */
/*our popular tours section start */
.our_popular_tour_section {
    width: 82%;
    margin: auto;
    margin: 5% auto;

}

.mount_img {
    width: 100%;
    height: 450px;
    background-image: url("images/ract.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.popular_sec_wrap {
    display: flex;
    gap: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.our_tour_text_container, .mount_img_wrap {
    width: 50%;
}

.our_tour_text p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.about_tour {
    margin-top: 3%;
}
.about_tour p {
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.which_services {
    margin-top: 2%;
    margin-left: 2.5%;
}
.which_services ul li {
    color: rgba(19, 19, 24, 0.70);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.about_text {
    margin-top: 3%;
} 
.about_text p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.read_more {
    margin-top: 2%;
}
.read_more a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #2980b9;
}
/*our popular tours section end */
/*destination center start */
.destination_main {
    width: 82%;
    margin: 3% auto;
}
.choose_desti_text {
    text-align: center;
}
.choose_desti_text p {
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.desti_pera p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}



.desti_galary_first {
    width: 82%;
    margin: 3% auto;
    gap: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desti_pera {
    text-align: center;
}
.desti_img_one {
    width: 50% 
}
.desti_img_two {
    width: 50%;
 }

.desti_img_one_inser {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_img_two_inser {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_galary_second {
    width: 82%;
    margin: -1.5% auto;
}
.desti_img_third {
    width: 30%;
}
.desti_img_second_of_third {
    width: 45%;
}
.desti_img_third_of_third {
    width: 25%;
}
.desti_img_third_inser {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_img_four_inser {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_img_five_inser {
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_galary_second {
    display: flex;
    gap: 2%;
}
.desti_img_one_inser, .desti_img_two_inser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maldiv p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.indo p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.desti_img_third_inser, .desti_img_four_inser, .desti_img_five_inser {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sri p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.north p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.kas p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.third_galary_con {
    width: 82%;
    margin: 3% auto;
}
.desti_img_last_of_third {
    width: 35%;
}
.desti_img_grand_last_of_third {
    width: 63%;
}
.desti_img_six_inser {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract233.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_img_seven_inser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url("images/ract99.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desti_galary_third {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}
.bd p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banderban p {
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hand_pcc_text {
    margin-top: 5px;
}
/* desti galrry section responsive end here */
/* why choose us start */
.why_choose_main {
    width: 82%;
    margin: 5% auto;
}
.why_choose_wrap p {
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.why_choose_para {
    width: 50%;
    margin: 2% auto;
}
.why_choose_para p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
/* why choose us end */
/* handpich hotel section start */
.handpick_section_main {
    width: 82%;
    margin: 3% auto;
}
.handpick_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.handpick_insert {
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.world_service {
    width: 50%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.hand_pcc_text p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.world_head p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hand_pcc_para p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.world_pera p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.icon_one, .hand_pcc_text, .hand_pcc_para {
    margin-left: 3%;
}
.icon_two, .world_head, .world_pera {
    margin-left: 3%;
}
.hand_pcc_text {
    margin-top: 15px;
}
.hand_pcc_para {
    margin-top: 10px;
}
.world_head {
    margin-top: 15px;
}
.world_pera {
    margin-top: 10px;
}
.best_price_section {
    width: 82%;
    height: 180px;
    padding: 5px;
    margin: 3% auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.price_head p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.price_pera p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.icon_three, .price_head, .price_pera {
    margin-left: 3%;
}
.icon_three {
    margin-top: 15px;
}
.price_head {
    margin-top: 10px;
}
.price_pera  {
    margin-top: 10px;
}
/* handpich hotel section end*/
/* deal section start */
.deal_and_dis_main {
    width: 60%;
    margin: 6% auto;
}
.deal_text p {
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.deal_pera p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
/* deal section end */
/* discount-galary section start */

.discount_gallary_start {
    width: 82%;
    margin: 2% auto;
}
.discount_gallery_con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.dis_bg_img_insert {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("images/group39.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner_div_one {
    width: 50%;
    margin-right: 40px;
    
}
.inner_text_one {
    width: 100%;
    height: 350px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.etc_one {
    display: flex;
    justify-content: start;
    text-align: center;
    gap: 15px;
}
.etc_one p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.satorini  {
    margin-top: 15px;
}
.satorini p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.satrorini_pera {
    margin-top: 10px;
}
.inner_price {
    margin-top: 10px;
}
.satrorini_pera p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.inner_price p {
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.book_now_button {
    margin-top: 15px;
}
.read_more_two {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #FF5400;
    font-family: Mulish;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dis_bg_img_insert_two {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("images/group39.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner_div_two {
    width: 50%;
    margin-left: 40px;
}
.inner_text_two {
    width: 100%;
    height: 350px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.dis_bg_img_insert_three {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("images/group39.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.inner_div_three {
    width: 50%;
    margin-right: 40px;
}
.inner_text_three {
    width: 100%;
    height: 350px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
/* discount-galary section end */
/* just btn start */
.just_btn {
    width: 82%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.just_btn a {
    text-align: center;
}
.just_bbttnn {
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px;
    background-color: #FF5400;;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
/* just btn end */

/* simple ferfect section start */
.simple_perfect_sec {
    width: 82%;
    margin: 5% auto;
}
.left_side_video, .video_con {
    width: 50%;
}
.simple_perfect_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple_perfect_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.simple_perfect_head {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
}
.simple_pera {
    margin-top: 3%;
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.left_side_video ul li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
.video_con_btn a {
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px;
    background-color: #FF5400;;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.left_side_video ul {
    margin-top: 2%;
}
.left_side_video ul {
    margin-left: 1.8%;
}
.video_con_btn {
    margin-top: 3%;
    
}
.video_con iframe {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/*simple perfect section end */
/*newsletter section start */
.newsletter_main {
    width: 82%;
    margin: 3% auto;
}
.news_seper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.newsltter_con {
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 67px 30px;
}
.hrr {
    margin-top: 3%;
    background: rgba(19, 19, 24, 0.5);
    height: 0.1px;
}
.mountain_img {
    width: 60%;
}
.moun_img_insertt {
    width: 100%;
    height: 400px;
    background-image: url("images/ract6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.news_text p {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.daily {
    margin-top: 3%;
}
.daily p {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.double_input {
    margin-top: 10px;
    margin-top: 15px;
}
.double_input input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    

}
.sub_bttn {
    margin-top: 10px;
} 
.sub_bttn a {
    width: 100%;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    padding: 10px;
    background-color: #FF5400;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.moun_img_insertt {
    position: relative;
}
.rottate {
    width: 324px;
    height: 120px;
    position: absolute;
    bottom: 13%;
    right: 2%;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
}
.com {
    margin-top: 5%;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.parcent {
    margin-top: 3%;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
/*newsletter section end */

/*footer section start */
footer {
    padding: 40px;
    width: 100%;
    height: 330px;
    background: rgba(19, 19, 24, 0.05);
}
.footer_con {
    width: 60%;
    margin: auto;
    
}
.with_icon_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.glr {
    color: var(--Dark-01, #131318);
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tlr {
    color: #FF5400;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.ftr_text {
    color: #5A5A5D;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.all_ftr_icons {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reserver_text {
    color: #131318;
    margin-top: 3%;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* footer section end */